<% if flash.any? %>
  <div class="flash-stack" aria-live="polite">
    <% flash.each do |level, message| %>
      <div class="<%= flash_class(level) %>" data-controller="flash" data-flash-timeout-value="<%= level.to_sym.in?([:notice, :success]) ? 5000 : 0 %>">
        <span><%= message %></span>
        <button class="flash__close" type="button" data-action="flash#close" aria-label="Dismiss notification">x</button>
      </div>
    <% end %>
  </div>
<% end %>
